.upload-page {
  padding: 10px;

  &__back {
    padding-bottom: 20px;
  }

  &__add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__tip {
    font-size: 12px;
    color: #cd6363;
  }

  &__tags {
    width: 60%;
    margin-top: 20px;
  }

  &__btns {
    margin: 20px 0;

    & > button {
      margin-right: 20px;
    }
  }
}
